:root {
  background-color: #030303;

}

div#root {
  background-color: #030303;
}

.container.pt-5 {
  position: relative;
  background-color: #030303;
  font-family: 'Bungee', sans-serif;
  color: #6f42c1;
  text-align: center;

}

.sketch {
  position: relative;
  top: 50%;
  left: 50%;
  animation-name: animate;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform: translate(-50%, 30%);
}

.blob {
  position: relative;
  top: 50%;
  left: 100%;
  transform: translate(0%, -12%);
}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 10px #6f42c1) drop-shadow(0px 0px 30px #51299c) drop-shadow(0px 0px 40px #2d1064);

  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff) drop-shadow(0px 0px 15px #6f42c1) drop-shadow(0px 0px 40px #51299c) drop-shadow(0px 0px 50px #2d1064);

  }
}

.h1,
h1 {
  font-size: 100px;
  position: relative;
}

.p {
  position: relative;
}

.stories {
  position: relative;
  transform: translate(0%, -2450%);
}

.box {
  position: relative;
  transform: translate(0%, -200%);
  box-shadow: 0 0 10px 5px #2685b8,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #8a2be2,
    0 0 30px 25px #2d1064;
}

.box-2 {
  position: relative;
  transform: translate(0%, -180%);
  box-shadow: 0 0 10px 2px #2685b8,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #8a2be2,
    0 0 30px 25px #2d1064;
}


.btn.btn-primary {
  color: #12051a
}