:root {
  background-color: #030303;

}

div#root {
  background-color: #030303;
}

.container.pt-5 {
  background-color: #030303;
  font-family: 'Bungee', sans-serif;
  color: #6f42c1;
  text-align: center;
}

.h1,
h1 {
  font-size: 100px;
  position: center;
  box-shadow: 0 0 10px 5px #2685b8,
    0 0 20px 7px #ebecca,
    0 0 25px 20px #8a2be2,
    0 0 30px 25px #2d1064;
}

#animation-title path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.storyHeader {
  color: #6f42c1;
  text-align: center;

}

.createStoryText {
  color: white;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputBox {
  margin: 10px;
}

.storyText {
  color: white;
  line-height: 2.0;
  background-color: black;
  display: flex;
  justify-content: start;
}

.storyCreateTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

#storyCreateBtn {
  background-color: #6f42c1;
  border-color: black;
  font-size: 13px;
}

.storyCreateHeader {
  border-bottom: #6f42c1 solid 2px;
  padding-bottom: 20px;
}